<div class="container-fluid login-container">
  <div class="row" >
    <div class="col-md-12 col-sm-12 col-xs-12" >
      <h3>Login</h3>
        <form>
          <div class="form-group" >
            <p class="alert alert-success">Username and Password you have entered does not match our records</p>
          </div>
          <div class="form-group" >
            <label for="username" >Username:</label>
            <input type="text" name="username" id="username" placeholder="Username">
            <span class="error" *ngIf="">Username cannot be empty</span>
          </div>

          <div class="form-group" >
            <label for="password" >Password:</label>
            <input type="text" name="password" id="password" placeholder="Password">
          </div>

          <div class="form-group" >
            <button type="submit" name="username" id="login-submit" class="btn btn-primary">Login</button>
          </div>
        </form>
    </div>
  </div>
</div>
