<div class="container-fluid" >
  <div class="col-md-6 col-sm-6 col-xs-6" id="pending-items" >
    <div class="row title-header" >
      <p>In Progress</p>
    </div>
    <div class="row" >
      <a href="javascript:void(0)" class="close" >x</a>
      <div class="col-md-6 col-sm-6 col-xs-6 item-title">
        <p>Item Title</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 item-content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="author-name">Author Name</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6" id="completed-items" >
    <div class="row title-header" >
      <p>Completed</p>
    </div>
    <div class="row" >
      <a href="javascript:void(0)" class="close" >x</a>
      <div class="col-md-6 col-sm-6 col-xs-6 item-title">
        <p>Item Title</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 item-content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="author-name">Author Name</p>
      </div>
    </div>
  </div>
</div>
