<div class="container-fluid col-md-12 col-sm-12 col-xs-12" >
  <a class="btn" data-toggle="modal" href="#accessModal" >Launch Modal</a>
  <div class="modal fade" id="accessModal" role="dialog"  >
    <div class="modal-dialog">
      <!-- Loader -->
      <div class="loader-screen" >
        <div class="cssload-loader">
          <div class="cssload-side"></div>
          <div class="cssload-side"></div>
          <div class="cssload-side"></div>
          <div class="cssload-side"></div>
          <div class="cssload-side"></div>
          <div class="cssload-side"></div>
          <div class="cssload-side"></div>
          <div class="cssload-side"></div>
        </div>
        <div class="loader-mask" ></div>
        <!-- Loader ends -->

      </div>
      <!-- Modal content-->
      <div>
        <form >
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><img src="../assets/images/close-button.svg" alt=""></button>
            </div>
            <div class="modal-body modal-body-custom">
              <app-login></app-login>
              <hr >
              <app-registration></app-registration>

            </div>
            <div class="modal-footer">

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
