<div class="container-fluid register-container">
  <div class="row" >
    <div class="col-md-12 col-sm-12 col-xs-12" >
      <h3> Signup Now</h3>
      <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">

        <div class="form-group" >
          <label for="username" >Username:</label>
          <input type="text" name="username" id="username" placeholder="Username" formControlName="username" >
          <span class="error" *ngIf="registrationForm.get('username').touched && registrationForm.get('username').invalid">Username is invalid. Username must be alphanumeric</span>
        </div>

        <div class="form-group" >
          <label for="password" >Password:</label>
          <input type="password" name="password" id="password" placeholder="Password" formControlName="password">
          <span class="error" *ngIf="registrationForm.get('password').touched && registrationForm.get('password').invalid">Password is invalid. Password must contain atleast 1 Uppercase, 1 Lower case and 1 Number</span>
        </div>

        <div class="form-group" >
          <label for="confirm-password" >Confirm Password:</label>
          <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" formControlName="confirmPassword" >
          <span class="error" *ngIf="isPassMismatch && registrationForm.get('confirmPassword').touched">Confirm Password did not match the password</span>
        </div>

        <div class="form-group" >
          <button type="submit" name="submit" id="login-submit" class="btn btn-primary">Signup</button>
        </div>
        <div class="form-group" >
          <p class="alert alert-success" *ngIf="isSuccess">User Saved Successfully. Try logging in with the details you had entered</p>
        </div>
      </form>
    </div>
  </div>
</div>
